﻿@model webApp.Models.Poll
@{
    ViewBag.Title = "Disable";
    Layout = "~/Views/_Shared/TemplateMain.cshtml";
}

<h2>DISABLE</h2>

<form action="@Tools.UrlAction("DisableSubmit")" method="post" id="formDisable">

    <p>"@Model.title"</p>

    <p>Do you really want to disable this poll ? This is irreversible.</p>    

    <input type="hidden" name="id" value="@Model.id"/>
    <input type="hidden" name="token" value="@Model.token" />
    <input type="submit" name="disable" value="Disable this poll" class="btn btn-danger"/>
</form>