﻿@model webApp.Models.Poll
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/_Shared/TemplateMain.cshtml";
}

<h2>The poll has been created</h2>

<div class="container">
    <div class="form-group row">
        <label>Voting url</label>
        <input class="form-control" type="text" value="@Tools.UrlAction("Vote", Model.id)" />
    </div>
    <div class="form-group row">
        <label>Results url</label>
        <input class="form-control" type="text" value="@Tools.UrlAction("Results", Model.id)" />
    </div>
    <div class="form-group row">
        <label>Disabling url (Do not share this link with anyone)</label>
        <input class="form-control" type="text" value="@Tools.UrlAction("Disable", Model.id, Model.token)" />
    </div>
</div>