﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/TemplateMain.cshtml";
}
<div id="dpContainerIndex">
    <h2>Welcome to DeadPoll</h2>
    <p>
        The place for all your polling needs.
        Not to be confused with pollination.
        We don't do that.
        You're thinking of bees.
    </p>
    <a class="btn btn-default" href="@Tools.UrlAction("New")">Create new poll</a>
</div>