﻿@model webApp.Models.Poll

@{
    ViewBag.Title = "New";
    Layout = "~/Views/_Shared/TemplateMain.cshtml";
}

<h2>Create a new poll</h2>

<form action="@Tools.UrlAction("NewSubmit")" method="post" class="container">
    
    <div class="form-group row">
        <div class="col-sm-12">
            <input type="text" class="form-control" name="title" value="@Model.title" placeholder="Question">
        </div>
    </div>

    <div id="dpAnswerBox">
        <!-- answer input model -->
        <div class="form-group row dpAnswer">
            <span class="col-sm-2 text-right dpControlBox">
                <button type="button" class="btn btn-primary glyphicon glyphicon-remove-circle dpDelete"  title="Remove this answer"></button>
            </span>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="answers" placeholder="Answer">
            </div>
        </div>
    </div>

    <div class="form-group row text-right">
        <span class="col-sm-3 text-right">
            <button type="button" class="btn btn-primary glyphicon glyphicon-plus" id="dpAdd" title="Add an answer"></button>
        </span>
        <span class="col-sm-6 text-right">            
            <label><input type="checkbox" name="multi" value="true" /> Allow vote on multiple answers</label>
            <input type="hidden" name="multi" value="false" />
        </span>
        <span class="col-sm-3 text-right">
            <input type="submit" value="Create" class="btn btn-primary" />
        </span>
    </div>
</form>
