﻿@model webApp.Models.Poll
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/_Shared/TemplateMain.cshtml";


    // get list of answers in desc order
    List<webApp.Models.Answer> answers = Model.answers.OrderByDescending(x => x.votes).ToList();

    // highest vote value
    Int32 max = Model.answers.Max(x => x.votes);
    max = (max == 0) ? 1 : max;
    // sum of all votes
    Int32 total = Model.answers.Sum(x => x.votes);
    total = (total == 0) ? 1 : total;
}

<h2>RESULTS</h2>

<h3>@Model.title</h3>

<p>Number of people who voted: @Model.voters</p>

<ul>
    @foreach (var answer in answers)
    {
        float totalPercent = 100 * answer.votes / total;
        float barPercent = 80 * answer.votes / max;
        <li class="resultRow">
            <span>@answer.label<br/>@answer.votes votes &bull; @totalPercent%</span>
            <div class="progress">
                <div class="progress-bar" style="width:@barPercent%;"></div>
            </div>
        </li>
    }
</ul>