﻿@model webApp.Models.Poll
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/_Shared/TemplateMain.cshtml";

    string voteType = Model.isMulti ? "checkbox" : "radio";
}
<h2>Vote on this poll</h2>

<form class="panel" action="@Tools.UrlAction("VoteSubmit")" method="post">
    
    <h3 class="panel-heading">@Model.title</h3>

    <p>Number of people who voted: @Model.voters</p>

    <div class="panel-body">
        @foreach (var answer in Model.answers)
        {
            <div class="checkbox">
                <label>
                    <input type="@voteType" name="votes" value="@answer.id">
                    @answer.label
                </label>
            </div>
        }
    </div>

    <div class="form-group row text-right">
        <span class="col-sm-11 text-right">
            <input type="hidden" name="id" value="@Model.id" />
            <input type="submit" value="Vote" class="btn btn-primary" />
        </span>
    </div>
</form>