﻿html,body {
    margin:0;
    padding:0;
    padding: 0.1px; /* disable margin collapse */
}

body {
    margin:0 auto;
    text-align:justify; 
    background-color:#EEF;
}

header, footer {
    background-color:rgba(0,0,0,0.05);
    padding:0 16px;
}

header {
}

section {
    padding:0 8px;
}

footer {
    text-align:center;
}

footer img {
    height:32px;
}

h1 {
    text-align:center;
    margin:0;
    padding:0 16px;
}

h2 {
    text-align:center;    
    background-color:rgba(0,0,0,0.05);
    border-radius:8px;
}




.alert > div {
    font-weight:bold;
}

.alert > div {
    border-bottom:1px solid rgba(0,0,0,0.25);
}




#dpContainerLog {
    width:800px;
    margin:16px auto;
}

#dpContainer {
    width:800px;
    margin:16px auto;
    background-color:rgba(0,0,0,0.05);
    border-radius:16px;
    overflow:hidden;
}

#dpContainerIndex {
    text-align:center;
}

#dpContainerIndex a {
    margin:50px 0;
    font-size:150%;
}

.progress {
    margin:0;
    padding:0;
}

#formDisable {
    text-align:center;
    background-color:#FEE;
    border:1px solid red;
    padding:8px;
    margin:8px;
}