﻿<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/Site.css">
        <title>DeadPoll - @ViewBag.Title</title>
    </head>
    <body>

        <div id="dpContainerLog">
            @if (ViewBag.logError.Count > 0)
            {
                <div class="alert alert-danger">
                    <div>Error</div>
                    @foreach (var msg in ViewBag.logError)
                    {
                        <p>@Html.Raw(msg)</p>
                    }
                </div>
            }

            @if (ViewBag.logWarning.Count > 0)
            {
                <div class="alert alert-warning">
                    <div>Warning</div>
                    @foreach (var msg in ViewBag.logWarning)
                {
                        <p>@Html.Raw(msg)</p>
                    }
                </div>
            }

            @if (ViewBag.logNotice.Count > 0)
            {
                <div class="alert alert-info">
                    <div>Notice</div>
                    @foreach (var msg in ViewBag.logNotice)
                {
                        <p>@Html.Raw(msg)</p>
                    }
                </div>
            }
        </div>

        <div id="dpContainer">
            <header>
                <h1><a href="@Tools.UrlAction("Index")">DeadPoll</a></h1>
            </header>

            <section>
                @RenderBody()
            </section>            

            <footer>
                DeadPoll is a subsidiary of Weyland-Yutani.
                <br/><img src="~/Content/media/weyland-yutani.png" alt="Weyland-Yutani logo"/>
                <br/>All rights reserved.
            </footer>
        </div>

        <script src="~/scripts/jquery-1.10.2.min.js"></script>
        <script src="~/scripts/script.js"></script>
    </body>
</html>